@import '../../vars.css';

.container {
    position: relative;
    background-color: rgba(12,12,12,0.6);
    border-radius: 40px;
    padding: 45px;
    margin-top: 5%;
    z-index: 1;
    margin-right: 10%;
    margin-left: 10%;
}

.title {
    color: var(--color-text);
    font-size: 42px;
    font-weight: 700;
    letter-spacing: 1.25px;
    text-transform: uppercase;
}

.content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.aboutImg {
    width: 35%;
    border-radius: 100%;
    scale: 90%;
    box-shadow: 0 0 50px rgb(0,0,0,0.25);
    border: 10px solid rgb(27, 53, 99);
    transition: .5s;
}

.aboutImg:hover {
    scale: 95%;
    transition: .5s;
}

.aboutItems {
    display: flex;
    color: var(--color-text);
    flex-direction: column;
    gap: 50px;
}

.aboutItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 20px;
    list-style: none;
    padding: 25px;
    background-image: linear-gradient(
        90deg,
        rgba(27, 55, 99, 1) 0%,
        rgba(27, 55, 99, 0) 100%
    );
    background-size: 0 100%;
    background-repeat: no-repeat;
    transition: 0.4s;
}

.aboutItem:hover {
    background-size: 100% 100%;
}

.aboutItem h3 {
    font-size: 40px;
    font-weight: 800;
    padding-left: 5%;
}

.aboutItem p {
    font-size: 20px;
    padding-left: 5%;
    padding-top: 1%;
}

.itemImg {
    scale: 110%;
}

@media screen and (max-width: 830px) {
    .container {
        background-color: transparent;
        padding-left: 0;
        padding-right: 0;
        align-items: center;
    }

    .content {
        flex-direction: column;
    }

    .aboutImg {
        display: none;
    }

    .aboutItems {
        margin-top: 29px;
    }

    .title {
        align-items: center;
    }
    
    .topBlur {
        position: absolute;
        width: 30vw;
        height: 30vw;
        min-width: 350px;
        min-width: 350px;
        top: -20px;
        left: -80px;
        border-radius: 764px;
        background: rgba(50, 80, 130, 0.7);
        filter: blur(100px);
        z-index: -1;
    }
    
    .bottomBlur {
        position: absolute;
        width: 65vw;
        height: 65vw;
        min-width: 350px;
        min-width: 250px;
        top: 520px;
        right: -50px;
        border-radius: 764px;
        background: rgb(50, 80, 130, 0.7);
        filter: blur(100px);
        z-index: -1;
    }

   
}
