@import '../../vars.css';

.container {
    color: var(--color-text);
    margin-top: 120px;
    background-color: var(--color-secondary);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100vw;
    padding: 2.5%;
    align-items: center;
}

.links {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    gap: 70px;
}

.link {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.link a {
    color: black;
    text-decoration: none;
    font-size: 17px;
    font-weight: 800;
    align-items: center;
    display: grid;
    place-items: center;
}

.copyright {
    color: var(--color-background);
    padding-top: 30px;
    font-family: Cambria;
}

